@model List<TCMI.Models.Prayer>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @{int i = 0;
    string tempAc = "collapse";
    string myhref = "item";
    string bag = ViewBag.MyId != null ? ViewBag.MyId : "";
    }
    @foreach (var item in Model)
    {
        tempAc = tempAc + i.ToString();
        myhref = myhref + i.ToString();

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="@item.id">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@myhref"
                       @if (bag.Equals(item.id.ToString())) { <text> class="" </text>      } else { <text> class="collapsed" </text>              }
                       @if (bag.Equals(item.id.ToString())) { <text> aria-expanded="true" </text>               } else { <text> aria-expanded="false" </text>              }
                       aria-controls="@tempAc">

                        @{ string toUpper = item.Name;
                        <text> @toUpper.ToUpper() </text>

                        }
                    </a>

                </h4>

            </div>
            <div id="@myhref" @if ( bag.Equals(item.id.ToString())) { <text> class='panel-collapse collapse in' </text>           } else { <text> class='panel-collapse collapse' </text>          } role="tabpanel" aria-labelledby="@item.id">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Prayed for @item.Prayed @if (item.Prayed >= 2)
                                {<text>times.</text>  }
                                else
                                { <text>time. </text> }

                                @using (Ajax.BeginForm("ipray", "home", new { id = @item.id }, new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "divAllPrayers"

                                }))
                                {
                                <input type="submit" class="btn btn-default" value="I PRAYED FOR THIS" />
                                }

                            </div>
                            <div class="panel-body">
                                @item.PrayerRequest
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

                                i++;
    }

</div>