@model TCMI.Models.PageModel

<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>TCMI Crossroad</title>
    <meta name="description" content="TCMI Crossroad">


    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="css/animations.css" rel="stylesheet">

    <!-- Worthy core CSS file -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="css/custom.css" rel="stylesheet">


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    
    <script type="text/javascript">
        /*$(document).ready(function () {
            $("#myCarousel").carousel({
                interval: 100000,
                pause: true,

            });
        });*/
        $(document).ready(function () {
            $("#myCarousel").carousel('pause');
        });
    </script>


</head>

<body class="no-trans">
    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>

    <!-- header start -->
    <!-- ================ -->
    <header class="header fixed clearfix navbar navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <!-- header-left start -->
                    <!-- ================ -->
                    <div class="header-left clearfix">

                        <!-- logo -->
                        <div class="logo smooth-scroll">
                            <a href="#banner"><img id="logo" src="images/logo.png" alt="TCMI"></a>
                        </div>

                        <!-- name-and-slogan -->
                        <div class="site-name-and-slogan smooth-scroll">
                            <div class="site-name"><a href="#banner">TCMI Crossroad</a></div>
                            <div class="site-slogan">Family of <a href="http://www.tcmi.org.ph" target="_blank"> TCMIQCI</a></div>
                        </div>

                    </div>
                    <!-- header-left end -->

                </div>
                <div class="col-md-8">

                    <!-- header-right start -->
                    <!-- ================ -->
                    <div class="header-right clearfix">

                        <!-- main-navigation start -->
                        <!-- ================ -->
                        <div class="main-navigation animated">

                            <!-- navbar start -->
                            <!-- ================ -->
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">

                                    <!-- Toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#banner">Home</a></li>
                                            <li>
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">About <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#whoweare">Who We Are</a></li>
                                                    <li><a href="#mission">Mission And Vision</a></li>
                                                    <li><a href="#believe">What We Believe</a></li>
                                                    <li><a href="#services">Our Services</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Get Involved <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#serve">Serve</a></li>
                                                    <li><a href="#give">Give</a></li>
                                                    <li><a href="#pray">Pray</a></li>
                                                </ul>
                                            </li>

                                            <li><a href="#events">Events</a></li>
                                            <li><a href="#contact">Contact</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </nav>
                            <!-- navbar end -->

                        </div>
                        <!-- main-navigation end -->

                    </div>
                    <!-- header-right end -->

                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <!-- banner start -->
    <!-- ================ -->
    <div id="banner" class="banner">
        <div class="banner-image"></div>
        <div class="banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                        <h1 class="text-center">We are <span>Triumphant Church Ministries International</span></h1>
                        <p class="lead text-center">
                            We are a church in Sangandaan Caloocan that follows Jesus Christ as Lord and joins God in the work he is doing in the world today.
                            We do this by loving God, loving others and serving Sangandaan and the world.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->
    <!-- section start  Who We Are-->
    <!-- ================ -->
    <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="whoweare" class="title text-center">We are <span>TCMI</span></h1>
                    <p class="lead text-center">We're truly blessed by the grace of God as we started our journey</p>
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/history-image-1.jpg" alt="">
                            <div class="space"></div>
                        </div>
                        <div class="col-md-6">

                            <p>
                                Triumphant Church Ministries International of Quezon City Incorporated is vision comes true!
                                It was conceived prayerfully and carefully and had gone through a series of refocusing.
                                Though it seems very young as far as  its  legal  identity  is  concerned,  its  experiences  as  a  church organization are already rich.
                            </p>
                            <p>
                                TCMI finds it's root in the Evangelical tradition through the pioneering works of Rev. Vicente Q. Rabara and Rev. Fernando S. Alonzo.
                                They were instrumental of the then TRIUMPHANT CHURCH MINISTRIES PHILIPPINES, INC. (TCMPI) that was registered to the Securities and Exchange Commission (S.E.C.) in 1988.
                            </p>
                            <p>
                                The  earlier  leadership, however,  concentrated  on  the  spiritual  nature  of  the  church  which resulted into the sacrifice of  legal  aspect.
                                Churches were pioneered and established.Some are located in the provinces of Bulacan, Quezon, Nueva Ecija, Ilocos Sur, Batangas, Bicol.
                                The cities breed of leaders were trained and developed while some of the pioneers continued to minister around the country and the world.
                            </p>

                        </div>
                    </div>
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                “Prophetic” pronouncements regarding the ministry of the organization flourished and the need to register a new name to the S.E.C. served as confirmation.
                                Thus,  after  a  series  of  consultation  and  prayer, TRIUMPHANT CHURCH MINISTRIES INTERNATIONAL OF QUEZON CITY INCORPORATED (TCMIQCI)  was  born  and  received  its  certificate  of registration on the 1st day of September 2006.
                            </p>
                            <p>
                                Its legal identity as international ministry happened as it celebrated her 25 years of existence. Some may consider it very young but the members  can  trace  its  teachings  and  will  remain  faithful  by  God’s grace to the apostolic teaching regarding the gospel of our Lord Jesus Christ.
                                Members and ministers are committed to live by the mission and in pursuit of the vision’s realization.
                            </p>
                            <p>
                                In doing this, we can say that the chapters of TCMIQCI history will continue to unfold for the glory of God.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h2>Our Leadership</h2>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Senior Pastor
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="col-md-4">
                                                <img src="images/ptr-romulo.png">
                                            </div>
                                            <div class="col-md-8">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Associate Pastor
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <div class="col-md-4">
                                                <img src="images/ptr-romulo.png">
                                            </div>
                                            <div class="col-md-8">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Pastor
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <div class="col-md-4">
                                                <img src="images/ptr-romulo.png">
                                            </div>
                                            <div class="col-md-8">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- section start Mission -->
    <!-- ================ -->
    <div class="section translucent-bg bg-mission-image" data-animation-effect="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="mission" class="text-center title">Mission & Vision</h1>

                    <p class="lead text-center"><i class="mission-quote-left"></i>Where there is no vision, the people perish: but he that keepeth the law, happy is he. - Matthew 23:11 ESV</p>
                    <p class="lead text-center">

                    </p>
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Mission</h2>
                            <hr>
                            <p class="lead">
                                <i class="fa fa-quote-left quotemark"></i> We are an Evangelical Born Again churches committed in planting churches, discipling believers, strengthening relationship among churches and developing ministers in transforming the nations for Christ to the Glory of God
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h2>Vision</h2>
                            <hr>

                            <p class="lead">
                                <i class="fa fa-quote-left quotemark"></i> We envision healthy ministers and churches motivated by passion for a transformed people and nations.
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- section start what we believe -->
    <!-- ================ -->
    <div class="section translucent-bg bg-believe-image blue">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
            <h1 id="believe" class="text-center title">What We Believe</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">God</h4>
                            <p>
                                We believe in one God, eternally existing in three persons – Father, Son, and Holy Spirit – having the same nature and attributes (Deut. 6:4; Matt. 28:19; 2 Cor. 13:14).
                            </p>
                        </div>
                        <div class="media-right">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Bible</h4>
                            <p>
                                We believe that the Bible is the inspired word of God, the absolute, final and definitive authority for faith and life (2 Tim. 3:16,17; Matt.5: 18; 2 Pet. 1:20-21; John 16:12,13).
                            </p>
                        </div>
                        <div class="media-right">
                            <i class="fa fa-book"></i>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Jesus</h4>
                            <p>
                                We believe that the Lord Jesus Christ, the eternal Son of God, became man without ceasing to be God. He is fully human and fully divine. He was crucified, died, buried and resurrected and is now exalted at the right hand of the Father (Jn.1: 1,2,4; Lk 1:35; Rom.3: 24-25; I Pet.1: 3-5; Acts 1:9-10; Heb. 7:25; 9:24; Rom. 8:34; I Jn.2: 12).
                            </p>
                        </div>
                        <div class="media-right">
                            <i class="fa fa-child"></i>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Holy Spirit</h4>
                            <p>
                                We believe that the Holy Spirit, the third person of the Trinity, though omnipotent in all eternity dwells in and empowers every believer for service and God’s glory (Jn.14: 16,17; 16:7-15; I Cor. 6:19; Eph. 2:22).
                            </p>
                        </div>
                        <div class="media-right">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Man</h4>
                            <p>
                                We believe that man was created in the image and likeness of God, but because of Adam’s sin the race fell, inherited a sinful nature and became alienated from God and cannot remedy his lost condition without God (Gen. 1:26-27; Eph. 2:1-3; Rom. 3:22,23; 5:12).
                            </p>
                        </div>
                        <div class="media-right">
                            <i class="fa fa-male"></i>
                        </div>
                    </div>
                </div>
                <div class="space visible-xs"></div>
                <div class="col-sm-6">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-key"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Salvation</h4>
                            <p>
                                We believe that salvation is a gift, made available through the grace of God by faith in the Lord Jesus Christ and not a product of good works (Jn1: 12; 5:24; Acts 4:12; Rom.4: 4-5; Gal.3: 10-14; Eph.2: 8-9).
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">The Church</h4>
                            <p>
                                We believe that the church, the body and bride of Christ, is a spiritual organism made up of believers of Christ and His works (Eph.1: 22,23; 5:25-27; I Cor.12: 12-14; 2 Cor.11: 2). That our Lord Jesus Christ taught us two ordinances, i.e. baptism and the Lord’s supper, in commemoration and proclamation of His person and work (Matt.28: 19,20; Acts 2:41,46,47: 16:33; I Cor.11: 23-32).
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-fire"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Resurrection</h4>
                            <p>
                                We believe in the bodily resurrection of all people, the saved to eternal life and the unsaved to judgment and eternal punishment (Matt.24: 24; Jn. 14:1-3; I Thes.1: 10; 4:13-17).
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Second Coming</h4>
                            <p>
                                We believe in the second coming of the Lord Jesus Christ, the blessed hope set before us, to establish His kingdom on earth (Matt.24: 27,30,44; Titus 2:13).
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Great Commission</h4>
                            <p>
                                We believe that it is the obligation of the saved to witness by life and speech to the truths of the Bible and to proclaim  the Gospel to all mankind (Mk: 16:15; Acts 1:8; 2 Cor. 5:19-20; Eph.2: 10).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="default-bg space blue">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-center">We believe in Jesus!</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="section translucent-bg bg-image-2 pb-clear">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
            <h1 id="services" class="title text-center">Gatherings</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="media services">
                        <div class="media-left">
                            <img src="images/services/church.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Sunday Worship</h3>
                            <blockquote>
                                <p>At TCM, we gather together throughout the week in both large and small groups, but our largest gathering takes place every <span class="higlighted">SUNDAY</span> at TCMI Crossroad.</p>
                                <p><i class="fa fa-clock-o"></i> 8am</p>

                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media services">
                        <div class="media-left">
                            <img src="images/services/pray-hand.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Friday Prayer</h3>
                            <blockquote>
                                <p>We believe we are called to be a house of prayer for all nations and therefore prayer is key to all that we do, and it features highly amongst our activities throughout the week. We pray as a family every <span class="higlighted">FRIDAY</span> at TCMI Crossroad.</p>
                                <p><i class="fa fa-clock-o"></i> 8pm</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media services">
                        <div class="media-left">
                            <img src="images/services/gigs.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Youth Worship</h3>
                            <blockquote>
                                <p>We want to see each young person build friendships, encounter the love of God, be encouraged, changed and equipped to impact their world by God’s power. We gather every <span class="higlighted">2nd SUNDAY of the Month</span> at TCMI Crossroad.</p>
                                <p><i class="fa fa-clock-o"></i> 2pm</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- section start -->
        <!-- ================ -->

        <div class="translucent-bg blue">

            <div class="container">
                <div class="list-horizontal">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="text-center">Get Directions</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section end -->
    </div>
    <!-- section end -->
    <div id="map-canvas"></div>

    <!-- section start serve -->
    <!-- ================ -->
    <div class="section">
        <div class="container">
            <h1 class="text-center title" id="serve">Serve</h1>
            <div class="separator"></div>
            <p class="lead text-center">
                Engaging in service leads to life change. Whether you serve in as ministry at TCMI Crossroad, or in the world,
                God calls us to serve one another.
            </p>
            <br>
            <div class="row object-non-visible" data-animation-effect="fadeIn">
                <div class="col-md-12">


                    <!-- serve items start -->
                    <div class="isotope-container row grid-space-20">
                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="images/portfolio-1.jpg" alt="Ushering">
                                    <a class="overlay" data-toggle="modal" data-target="#ushering">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Ushering</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#ushering">Ushering Ministry</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="ushering" tabindex="-1" role="dialog" aria-labelledby="ushering-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="ushering-label">Ushering</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Ushering Ministry</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        Almost every Sunday is someone's first Sunday at TCM. Imagine joining a team that has fun creating a welcoming environment for our visitors. The Ushering team works hard to create an environment where each person feels welcome and comfortable. You can expect to have fun, care for new people,
                                                        share community with your team, and play a significant role in helping someone have a wonderful experience
                                                    </p>

                                                </div>
                                                <div class="col-md-6">
                                                    <img src="images/portfolio-1.jpg" alt="Ushering">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item app-development">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="images/portfolio-2.jpg" alt="Music">
                                    <a class="overlay" data-toggle="modal" data-target="#music">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Music</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#music">Music Ministry</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="music" tabindex="-1" role="dialog" aria-labelledby="music-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="music-label">Music</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Music Ministry</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        If you are a member of TCM, gifted musically, and more importantly, if you have a desire to use your gifts for God's glory,
                                                        then we would love to have you join our worship team.
                                                    </p>

                                                </div>
                                                <div class="col-md-6">
                                                    <img src="images/portfolio-2.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="images/portfolio-3.jpg" alt="Youth Ministry">
                                    <a class="overlay" data-toggle="modal" data-target="#youth">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Youth (GIGS)</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#youth">Youth Ministry</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="youth" tabindex="-1" role="dialog" aria-labelledby="youth-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="youth-label">Youth</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Youth Ministry</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        GIGS seeks to impact the lives of at-risk urban teenagers in the Sangandaan area with the love of Jesus Christ.
                                                        TCM is home to several leaders and some youth who have been part of this ministry,
                                                        each year we go to a week-long youth camp.
                                                    </p>

                                                </div>
                                                <div class="col-md-6">
                                                    <img src="images/portfolio-3.jpg" alt="Youth Ministry">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item site-building">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="images/portfolio-4.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#children">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Children</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#children">Children</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="children" tabindex="-1" role="dialog" aria-labelledby="childrem-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="children-label">Children</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Children Ministry</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        Children Ministry exists to introduce children to the gospel of Jesus Christ and to help them to live their
                                                        whole lives in response. We do so by walking with them through their spiritual development--building
                                                        Christ-centered relationships, teaching a Bible-centered curriculum, and participating in missional activities.
                                                    </p>

                                                </div>
                                                <div class="col-md-6">
                                                    <img src="images/portfolio-4.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>



                    </div>
                    <!-- portfolio items end -->

                </div>
            </div>
        </div>

    </div>
    <div class="translucent-bg yellow">
        <div class="container">
            <div class="list-horizontal">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="lead text-center blue-font">Your involvement serving at TCM matters because your service really makes a difference. The opportunities listed above describe many of the service opportunities where we need your help. Please look around and then contact the leader for the ministry you would like to volunteer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- section start give -->
    <!-- ================ -->
    <div class="section translucent-bg bg-mission-image" data-animation-effect="fadeIn">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="give" class="text-center title">Give</h1>

                    <p class="lead text-center"><i class="mission-quote-left"></i>Bring the whole tithe into the storehouse, that there may be food in my house. Test me in this,” says the LORD Almighty, “and see if I will not throw open the floodgates of heaven and pour out so much blessing that there will not be room enough to store it.<i class="mission-quote-right"></i></p>
                    <p class="lead text-center">
                        <cite>- Malachi 3:10</cite>
                    </p>
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Tithes</h2>
                            <hr>
                            <p class="lead">
                                <i class="fa fa-quote-left quotemark"></i> We are stewards of all that God has given to us. When we tithe we are giving back to God a part of what rightfully belongs to Him.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h2>Offering</h2>
                            <hr>

                            <p class="lead">
                                <i class="fa fa-quote-left quotemark"></i> We envision healthy ministers and churches motivated by passion for a transformed people and nations.
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- section start pray -->
    <!-- ================ -->
    <div class="section">
        <div class="container">
            <h1 class="text-center title" id="pray">Prayer Request</h1>
            <div class="separator"></div>
            <p class="lead text-center">
                Post your prayer requests here and before you leave spend some time to pray for someone else’s needs.
            </p>
            <br>
            <div class="row object-non-visible" data-animation-effect="fadeIn">
                <div class="col-md-12">

                </div>
                <div class="col-md-12">
                    @Html.Partial("_ViewAllPrayers",  Model.Prayers)
                </div>
            </div>
        </div>

    </div>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="section translucent-bg bg-image-2 pb-clear">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
            <h1 id="events" class="title text-center">Events</h1>
            <div class="space"></div>

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    @*@Html.Raw(ViewBag.eventNav)*@
                    @{int j = 0;}
                    @foreach (var item in Model.Events)
                    {
                        if (j == 0)
                        {

                            <li data-target='#myCarousel' data-slide-to='@j.ToString()' class='active'></li> 
                        }
                        else
                        {

                           <li data-target='#myCarousel' data-slide-to='@j.ToString() '></li>
                        }

                        j++;
                    }

                </ol>

                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    @{int i = 0;}
                    @foreach (var item in Model.Events)
                    {

                        <div @if (i==0){ <text> class='active item' </text>  } else{ <text> class='item' </text> }>


                            <div class='box'>
                                <div class='ddshadow'><h2>@item.Title</h2></div>
                                <div class='carousel-caption'>
                                    <p><h3> @item.Description </h3></p>
                                    <p><i class='fa fa-map-marker'></i>  @item.Venue</p>
                                    <p><i class='fa fa-calendar'></i> @item.DateOfEvent.ToLongDateString()</p>
                                    <p><i class='fa fa-clock-o'></i> @item.Time</p>
                                </div>
                            </div>
                        </div>

                        i++;
                    }
                </div>


                @*<div class="carousel-inner">
                        @Html.Raw(ViewBag.eventlist)
                    </div>*@
                <!-- Carousel controls -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>


        </div>
        <!-- section start -->
        <!-- ================ -->
        <div class="translucent-bg blue">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="text-center">See upcoming events.</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- section end -->
    </div>
    <!-- section end -->
    <!-- footer start -->
    <!-- ================ -->
    <footer id="footer">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer section">
            <div class="container">
                <h1 class="title text-center" id="contact">Contact Us</h1>
                <div class="space"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="footer-content">
                            <p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam magnam natus tempora cumque, aliquam deleniti voluptatibus voluptas. Repellat vel, et itaque commodi iste ab, laudantium voluptas deserunt nobis.</p>
                            <ul class="list-icons">
                                <li><i class="fa fa-map-marker pr-10"></i> One infinity loop, 54100</li>
                                <li><i class="fa fa-phone pr-10"></i> +00 1234567890</li>
                                <li><i class="fa fa-fax pr-10"></i> +00 1234567891 </li>
                                <li><i class="fa fa-envelope-o pr-10"></i> your@email.com</li>
                            </ul>
                            <ul class="social-links">
                                <li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/HtmlCoder/714570988650168"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a target="_blank" href="https://twitter.com/HtmlcoderMe"><i class="fa fa-twitter"></i></a></li>
                                <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-content">
                            <form role="form" id="footer-form">
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="name2">Name</label>
                                    <input type="text" class="form-control" id="name2" placeholder="Name" name="name2" required>
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="email2">Email address</label>
                                    <input type="email" class="form-control" id="email2" placeholder="Enter email" name="email2" required>
                                    <i class="fa fa-envelope form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="message2">Message</label>
                                    <textarea class="form-control" rows="8" id="message2" placeholder="Message" name="message2" required></textarea>
                                    <i class="fa fa-pencil form-control-feedback"></i>
                                </div>
                                <input type="submit" value="Send" class="btn btn-default">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer end -->
        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Copyright © 2015 TCMI Crossroad.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
    <!-- footer end -->
    <!-- JavaScript files placed at the end of the document so the pages load faster
    ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

    <!-- Modernizr javascript -->
    <script type="text/javascript" src="plugins/modernizr.js"></script>

    <!-- Isotope javascript -->
    <script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>

    <!-- Backstretch javascript -->
    <script type="text/javascript" src="plugins/jquery.backstretch.min.js"></script>

    <!-- Appear javascript -->
    <script type="text/javascript" src="plugins/jquery.appear.js"></script>

    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="js/template.js"></script>



    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/custom.js"></script>

</body>
</html>
